body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  width: 100px;
  height: 100px;
  font-size: 3em;
  text-align: center;
  cursor: pointer;
}

td ~ td {
  border-left: 5px solid black;
}

tr ~ tr {
  border-top: 5px solid black;
}
