body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.btn {
    background: #0c6909;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    color: #fff;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    height: 30px;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    display: none;
    cursor: pointer;
    margin-right: 16px;
    border-radius: 50%;
    transition: background 0.2s;
    width: 32px;
    height: 32px;
}

header img:hover {
    background: #f1f2f3;
}

.page {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-page button ~ button {
    margin-left: 16px;
}

#game-page table {
    border-collapse: collapse;
}

#game-page table td {
    width: 100px;
    height: 100px;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#game-page table td ~ td {
    border-left: 5px solid black;
}

#game-page table tr ~ tr {
    border-top: 5px solid black;
}

@media (max-width: 420px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    .btn {
        height: 44px;
    }

    #home-page button {
        width: 80vw;
    }

    #home-page #actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #home-page button ~ button {
        margin-top: 16px;
        margin-left: 0;
    }

    #game-page table td {
        height: 80px;
        width: 80px;
        font-size: 2em;
    }
}
